{% extends "base.html" %} {% block logic %}
<script type="text/javascript" charset="utf-8">
  const socket = io();

  const framesLimit = "{{ frames_limit }}" 
  let insertIdx = "{{ frames_count }}";
  insertIdx %= framesLimit

  socket.on("countFeed", (count) => {
    const element = document.getElementById("humanCount");
    element.textContent = "Intruders count: " + count;
  });

  socket.on("imgFeed", (img) => {
    const imageList = document.getElementById("lastEvents");

    imageList.children[insertIdx].src = `data:image/jpg;base64,${img}`;

    insertIdx += 1;
    insertIdx %= framesLimit;
  });
</script>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h2 id="humanCount"></h2>
    <img src="{{ url_for('video_feed') }}" width="100%" />
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-3"><h2>Last events:</h2></div>
</div>
<div id="lastEvents" class="row">
  {% for frame in saved_frames %}
    <img class="p-2" width="20%" src="{{ frame.src }}" />
  {% endfor %}
  {% for _ in range(frames_limit - frames_count) %}
    <img class="p-2" width="20%" />
  {% endfor %}
</div>
{% endblock %}
